/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #ddd;

$color-primary: #800080;

$color-green-light-1: #7ed56f;
$color-green-medium-1: #55c57a;
$color-green-dark-1: #28b485;
